{template 'common/header'}
<ul class="nav nav-tabs">
	<li ><a href="{php echo $this->createWebUrl('users', array('op' => 'display'))}">用户管理</a></li>
    <li class="active"><a href="{php echo $this->createWebUrl('setpassword')}">修改密码</a></li>
</ul>
 
 
<div class="main">
	<div class="panel panel-info">
	
		<div class="panel-heading">修改密码</div>
		<div class="panel-body">
		<form class="form-horizontal">
			<div class="form-group">
				<label class="col-xs-12 col-sm-3 col-md-2 control-label">用户名</label>
				<div class="col-sm-9">
					<input type="text" name="username" value="ceshi" readonly class="form-control">
				</div>
			</div>
	 
			<div class="form-group">
				<label class="col-xs-12 col-sm-3 col-md-2 control-label">新密码</label>
				<div class="col-sm-9">
					<input type="text" name="password"     class="form-control">
				</div>
			</div>
			
			<div class="form-group">
				
				<div class="col-sm-9 col-sm-offset-3">
					<a class="btn btn-primary  submit" >提交</a>
				</div>
			</div>
			</form>
		</div>
	</div>
     
   
</div>
<script>
	$(".btn.submit").click(function(){
		var uid;
		var hpwd = $("input[name='password']");
		var pwd = hpwd.val();
		if(pwd=='')//密码规则验证
		{
			alert('新密码不符合规则');
		}
		else
		{
			if(confirm('确定要修改密码吗？'))
			{
				var url="{php echo $this->createWebUrl('setpassword',array('op'=>'post'))}";
				$.post(url,data,function(){
				
					}
				);
			}
			else
			{
				hpwd.val('');
			}

		}
	});
	
</script>
	
{template 'common/footer'}
