{template 'common/header'}
<ol class="nav nav-tabs">
  <li class="active"><a>系统设置</a></li>
  
</ol>

    <form action="" method="post" class="form-horizontal form" id="form">
	<div class="panel panel-default">
  <div class="panel-heading"><p>腾讯云配置</p>
   <p>启用腾讯云cos对象存储后，请把/attachment目录（不包括此目录）下的子文件及子目录上传至腾讯云存储, 相关工具：<a target="_blank" href="https://console.qcloud.com/cos/bucket" class="product-grey-font" >腾讯云存储</a></p>
 
  </div>
  <div class="panel-body">
	<div class="form-group">
		<label class="col-xs-12 col-sm-3 col-md-2 control-label">APPID</label>
		<div class="col-sm-9 col-xs-12">
			<input type="text" name="cos[appid]" class="form-control" value="{$settings['cos']['appid']}" placeholder="" />
			<span class="help-block">APPID 是您项目的唯一ID</span>
		</div>
	</div>
	<div class="form-group">
		<label class="col-xs-12 col-sm-3 col-md-2 control-label">SecretID</label>
		<div class="col-sm-9 col-xs-12">
			<input type="text" name="cos[secretid]" class="form-control" value="{$settings['cos']['secretid']}" placeholder="" />
			<span class="help-block">SecretID 是您项目的安全秘钥，具有该账户完全的权限，请妥善保管</span>
		</div>
	</div>
	<div class="form-group">
		<label class="col-xs-12 col-sm-3 col-md-2 control-label">SecretKEY</label>
		<div class="col-sm-9 col-xs-12">
			<input type="text" name="cos[secretkey]" class="form-control encrypt" value="{$settings['cos']['secretkey']}" placeholder="" />
			<span class="help-block">SecretKEY 是您项目的安全秘钥，具有该账户完全的权限，请妥善保管</span>
		</div>
	</div>
	<div class="form-group" id="cosbucket">
		<label class="col-xs-12 col-sm-3 col-md-2 control-label">Bucket</label>
		<div class="col-sm-9 col-xs-12">
			<input type="text" name="cos[bucket]" class="form-control" value="{$settings['cos']['bucket']}" placeholder="" />
			<span class="help-block">请保证bucket为可公共读取的</span>
		</div>
	</div>
	<div class="form-group" >
		<label class="col-xs-12 col-sm-3 col-md-2 control-label">Url</label>
		<div class="col-sm-9 col-xs-12">
			<input type="text" name="cos[url]" class="form-control" value="{$settings['cos']['url']}" placeholder="" />
			<span class="help-block">腾讯云支持用户自定义访问域名。注：url开头加http://或https://结尾不加 ‘/’例：http://abc.com</span>
		</div>
	</div>
	<div class="form-group">
		<label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
		<div class="col-sm-9 col-xs-12">
 
			<button name="button" type="button" class="btn btn-info js-checkremotecos" value="check">测试配置（无需保存）</button>
 
		</div>
	</div>
	</div>
 </div>
<div class="panel panel-default">
	<div class="panel-heading">
	<p>平台支付设置</p>
	</div>
	<div class="panel-body">
		<div class="form-group">
		<label class="col-xs-12 col-sm-3 col-md-2 control-label">微信APPID</label>
		<div class="col-sm-9 col-xs-12">
			<input type="text" name="wx[appid]" class="form-control" value="{$settings['wx']['appid']}" placeholder="" />
			<span class="help-block">微信支付公众号APPID</span>
		</div>
		</div>
		
		<div class="form-group">
		<label class="col-xs-12 col-sm-3 col-md-2 control-label">微信商户号</label>
		<div class="col-sm-9 col-xs-12">
			<input type="text" name="wx[chid]" class="form-control" value="{$settings['wx']['chid']}" placeholder="" />
			<span class="help-block">微信支付商户号</span>
		</div>
		</div>
				<div class="form-group">
		<label class="col-xs-12 col-sm-3 col-md-2 control-label">微信商户号秘钥</label>
		<div class="col-sm-9 col-xs-12">
			<input type="text" name="wx[secret]" class="form-control" value="{$settings['wx']['secret']}" placeholder="" />
			<span class="help-block">微信支付商户秘钥</span>
		</div>
		</div>
	</div>

</div>

<div class="panel panel-default">
	<div class="panel-heading">
	<p>阿里大鱼短信设置</p>
	</div>
	<div class="panel-body">
		<div class="form-group">
		<label class="col-xs-12 col-sm-3 col-md-2 control-label">阿里大鱼appkey </label>
		<div class="col-sm-9 col-xs-12">
			<input type="text" name="dayu[appkey]" class="form-control" value="{$settings['dayu']['appkey']}" placeholder="" />
			<span class="help-block">阿里大鱼短信APPID</span>
		</div>
		</div>
		
		<div class="form-group">
		<label class="col-xs-12 col-sm-3 col-md-2 control-label">阿里大鱼secret</label>
		<div class="col-sm-9 col-xs-12">
			<input type="text" name="dayu[secret]" class="form-control" value="{$settings['dayu']['secret']}" placeholder="" />
			<span class="help-block">阿里大鱼短信secret</span>
		</div>
		</div>
		<div class="form-group">
		<label class="col-xs-12 col-sm-3 col-md-2 control-label">阿里大鱼签名</label>
		<div class="col-sm-9 col-xs-12">
			<input type="text" name="dayu[sign]" class="form-control" value="{$settings['dayu']['sign']}" placeholder="" />
			<span class="help-block">阿里大鱼短信签名</span>
		</div>
		</div>
		
		<div class="form-group">
		<label class="col-xs-12 col-sm-3 col-md-2 control-label">阿里大鱼验证码模板</label>
		<div class="col-sm-9 col-xs-12">
			<input type="text" name="dayu[verifycode]" class="form-control" value="{$settings['dayu']['verifycode']}" placeholder="" />
			<span class="help-block">阿里大鱼短信验证码模板</span>
		</div>
		</div>
		
		<div class="form-group">
		<label class="col-xs-12 col-sm-3 col-md-2 control-label">阿里大鱼短信模板</label>
		<div class="col-sm-9 col-xs-12">
			<input type="text" name="dayu[sms]" class="form-control" value="{$settings['dayu']['sms']}" placeholder="" />
			<span class="help-block">阿里大鱼短信短信模板</span>
		</div>
		</div>
		
	</div>

</div>

<div class="panel panel-default">
	<div class="panel-heading">
	<p>阿里云市场</p>
	</div>
	<div class="panel-body">
		<div class="form-group">
		<label class="col-xs-12 col-sm-3 col-md-2 control-label">云市场银行卡信息验证APPCODE</label>
		<div class="col-sm-9 col-xs-12">
			<input type="text" name="api[appcode]" class="form-control" value="{$settings['api']['appcode']}" placeholder="" />
			<span class="help-block">阿里大鱼短信APPID</span>
		</div>
		</div>
		 
		
	</div>

</div>

<div class="form-group">
		<label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
		<div class="col-sm-9 col-xs-12">
			<button name="submit" class="btn btn-primary" value="submit">保存配置</button>
 			<input type="hidden" name="token" value="{$_W['token']}" />
		</div>
</div>
</form>

 




<script type="text/javascript">
	$(function() {
			$('.js-checkremotecos').on('click', function(){
			var appid = $.trim($(':text[name="cos[appid]"]').val());
			if (appid == '') {
				util.message('请填写APPID');
				return false;
			}
			var secretid = $.trim($(':text[name="cos[secretid]"]').val());
			if (secretid == '') {
				util.message('请填写secretid');
				return false;
			}
			var secretkey = $.trim($(':text[name="cos[secretkey]"]').val());
			if (secretkey == '') {
				util.message('请填写Secretkey');
				return false;
			}
			var bucket = $.trim($(':text[name="cos[bucket]"]').val());
			if (bucket == '') {
				util.message('请填写bucket');
				return false;
			}
			var url = $.trim($(':text[name="cos[url]"]').val());
			if (url == '') {
				util.message('请填写url');
				return false;
			}
			var param = {
				'appid' : appid,
				'secretid' : secretid,
				'secretkey'  : secretkey,
				'bucket' :  bucket,
				'url' : url
			}; 
			posturl = "./index.php?c=utility&a=checkattach&do=cos&";
			
			$.post("./index.php?c=utility&a=checkattach&do=cos&",param, function(data) {
				var data = $.parseJSON(data);   
				if(data.message.errno == 0) {
					util.message('配置成功');
					return false;
				}
				if(data.message.errno < 0) {
					util.message(data.message.message);
					return false;
				}
			});
		});
	
	
	});
		 
</script>
 
{template 'common/footer'}
