{template 'common/header'}
<ul class="nav nav-tabs">
    <li class="active"><a href="{php echo $this->createWebUrl('users', array('op' => 'display'))}">用户管理</a></li>
</ul>
 
<style>
    .form-control-excel {
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }
</style>
<div class="main">
    <div class="panel panel-default">
        <div class="panel-body">
            <form action="" method="post" class="form-horizontal form" enctype="multipart/form-data">

			  <div class="col-lg-12">
				<div class="input-group">
				  <input type="text" name="tel" class="form-control" placeholder="输入电话号码查询用户信息">
				  <span class="input-group-btn">
					<button class="btn btn-default" type="submit">查找</button>
				  </span>
				</div><!-- /input-group -->
			  </div>
            </form>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="table-responsive panel-body">
      
                <table class="table">
                    <thead >
                    <tr>
						<th style="width:10%;">用户ID</th>
                        <th style="width:14%;">用户名</th>
                        <th style="width:16%;">手机号</th>
                        <th style="width:30%;">认证详情</th>
                        <th style="width:30%;">操作</th>
                    </tr>
                    </thead>
                    <tbody>
					<tr>
						<td >1</td>
						<td>ceshi</td>
						<td>13333333333</td>
						<td><span class="label label-warning">未认证</span></td>
						<td><a class="btn btn-default   " title="详情" href="{php echo $this->createWebUrl('usersinfo')}"><span class="fa fa-pencil-square-o"></span></a>  
							<a class="btn btn-default  " title="修改密码" href="{php echo $this->createWebUrl('setpassword')}"><span class="fa fa-cog"></span></a>
						</td>
					</tr>
					<tr>
						<td >1</td>
						<td>ceshi</td>
						<td>13333333333</td>
						<td><span class="label label-success">已认证</span></td>
						<td><a class="btn btn-default   " title="详情" href=""><span class="fa fa-pencil-square-o"></span></a>  <a class="btn btn-default  " title="修改密码" href=""><span class="fa fa-cog"></span></a></td>
					</tr>

                    </tbody>
         
                </table>
             
        </div>
    </div>
    {$pager}
</div>
<script>
    function drop_confirm(msg, url){
        if(confirm(msg)){
            window.location = url;
        }
    }
</script>
	
{template 'common/footer'}
