{template 'common/header'}
<ul class="nav nav-tabs">
	<li><a href="{php echo $this->createWebUrl('users', array('op' => 'display'))}">用户管理</a></li>
    <li class="active"><a href="{php echo $this->createWebUrl('usersinfo')}">用户详情</a></li>
</ul>
 
 
<div class="main">
	<div class="panel panel-info">
		<div class="panel-heading">用户详情</div>
		<div class="panel-body">
			<div class="form-group">
				<label class="col-xs-12 col-sm-3 col-md-2 control-label">用户名</label>
				<div class="col-sm-9">
					<input type="text" class="form-control">
				</div>		
			</div>
			<div class="form-group">
				<label class="col-xs-12 col-sm-3 col-md-2 control-label">姓名</label>
				<div class="col-sm-9">
					<p class="form-control-static">
						张三
					</p>
				</div>		
			</div>
			<div class="form-group">
				<label class="col-xs-12 col-sm-3 col-md-2 control-label">手机号</label>
				
				<div class="col-sm-9">
					<p class="form-control-static">
						13333333333 &nbsp;&nbsp;<span class="label label-danger">未认证</span>
					</p>
				</div>
			</div>		
 
		</div>
	</div>
     
	<div class="panel panel-info">
		<div class="panel-heading">身份认证</div>
		<div class="panel-body">
				<div class="form-group">
				<label class="col-xs-12 col-sm-3 col-md-2 control-label">正面照</label>
				
				<div class="col-sm-9">
					<p class="form-control-static">
						<img src="{$_W['siteroot']}/addons/wx_house/icon.jpg"></img>&nbsp;&nbsp;&nbsp;<span class="label label-success">已认证</span>
					</p>
				</div>
				
			</div>
			
			<div class="form-group">
				<label class="col-xs-12 col-sm-3 col-md-2 control-label">反面照</label>
				
				<div class="col-sm-9">
					<p class="form-control-static">
						<img src="{$_W['siteroot']}/addons/wx_house/icon.jpg"></img>&nbsp;&nbsp;&nbsp;<span class="label label-success">已认证</span>
					</p>
				</div>
			</div>
		</div>
	</div>
   
</div>
<script>
 
</script>
	
{template 'common/footer'}
