<style>
	.nav .weui-tabbar__item.weui-bar__item--on .weui-tabbar__label
	{
		color:#ff973a;
	}
</style>
<div class="weui-tabbar nav">
    <a href="" class="weui-tabbar__item tab-index selling">
 		<div class="weui-tabbar__icon">
        <img src="{MOBILE_STYLE}/img/selling.svg" alt="">
      </div>
      <p class="weui-tabbar__label">抢购中</p>
    </a>
    <a href="#" class="weui-tabbar__item sold">
  		<div class="weui-tabbar__icon">
        <img src="{MOBILE_STYLE}/img/sold.svg" alt="">
      </div>
      <p class="weui-tabbar__label">已售完</p>
    </a>
    <a href="#" class="weui-tabbar__item unsell">
  		<div class="weui-tabbar__icon">
        <img src="{MOBILE_STYLE}/img/unsell.svg" alt="">
      </div>
      <p class="weui-tabbar__label">未推出</p>
    </a>
    <a href="#" class="weui-tabbar__item tab-users refresh">
		<div class="weui-tabbar__icon">
        <img src="{MOBILE_STYLE}/img/refresh.png" alt="">
      </div>
      <p class="weui-tabbar__label">刷新</p>
    </a>
</div>
 