 {template 'header'}
 <link rel="stylesheet" type="text/css" href="{MOBILE_STYLE}/css/user.css"/>
 <style type="text/css">
	
 </style>
 <div class="container">
		<div class="common-head">
			<a href="javascript:history.go(-1);" style="float:left;">
				<i class="fa fa-angle-left  fa-lg fa-fw" aria-hidden="true" style="color:#ff973a;"></i></a>
				<p>设置</p>
		</div>
 
	 <div class="container-content">
		 
	 
		
	 </div>
</div>
 
<script src="{MOBILE_STYLE}/js/jquery-3.2.1.min.js"></script>
<script src="{MOBILE_STYLE}/js/jquery-weui.min.js"></script>
 <script>
	
 </script>
{template 'footer'}