 {template 'header'}
  <link rel="stylesheet" style="text/css" href="{MOBILE_STYLE}/css/index.css"/>
 <style type="text/css">

.cell_title,.cell_info,.cell_area,.cell_count{
	font-size:10px;
}
.cell_status label{
	
}
.common-head p{
	color:#ff973a;
}
 </style>

	<div class="container">
	 	 
		viewlist
	
	</div>
	 
 <script src="{MOBILE_STYLE}/js/jquery-3.2.1.min.js"></script>
<script src="{MOBILE_STYLE}/js/jquery-weui.min.js"></script>
<script src="{MOBILE_STYLE}/js/common.js"></script>
 <script>
	$(".tab-index").addClass('weui-bar__item--on');
	var intDiff = parseInt(60);//倒计时总秒数量
	
	//获取剩余倒计时
	timer(6);
	
	$(".myList").on("click","a",function(e){
		 
		if($(this).find(".cell_status").attr('data-status')!=1)
		{
			$(this).attr('href',"#");
		}
	});
 </script>
 {template 'footer'}