.index.common-head p{
		color:#ff973a;
	}
	.myList{
		padding:5px 15px;
	}
	.myList .weui-cell{
		padding:10px 0px;
	} 
	 
	.myList .weui-cell__hd{
		width:70px;
		height:70px;
	}
	.myList .weui-cell__ft:after{
		display:none;
	}
	.index_title{
		font-size:12px;
	}
	.index_address,.index_tel{
		font-size:10px;
	}
	.index_price{
		font-size:13px;
	}
	.myList .index_address,.myList .index_tel{
		color:#ccc;
	}
	.selector
	{	
		margin-top:10px;
		background-color:#fff;
		display:flex;
		flex-flow:row wrap;
		text-align:center;
		line-height:2.0em;
	}
	.select_item{
 
		background-image: -webkit-gradient(linear,left top,right top,color-stop(.5,transparent),color-stop(.5,#ccc));
		background-position: 100% 0;
		background-repeat: repeat-y;
		background-size: 1px 100%;
		position: relative;
	 
	}
	.selector select{
		width:99%;
		padding:0 1px;
		border:none;
		background: transparent;
		text-align:center;
		line-height:1.5em;
	}
	.selector .select_item i:after{
		position: absolute;
		content: '';
		top: 50%;
		margin-top: -2px;
		right: 0;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 5px;
		border-color: #000 transparent transparent transparent;		
	}
	
	.selector .select_item.current_sch i:after{
		margin-top: -8px;
		border-color: transparent transparent #f90 transparent;	
	}
